{% extends "base.html" %}
{% block content %}

<h1>Search for a parking</h1>
<form action="search" method="post">
    {% csrf_token %}
    <input type="text" name="latitude" placeholder="Latitude" />
    <input type="text" name="longitude" placeholder="Longitude" />
    <input type="text" name="radius" placeholder="Radius in meters" />
    <input type="submit" value="Search" />

</form>

<table class="table">
    <thead>
        <tr>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Status</th>
            <th>Distance</th>
            <th>Rate per hour</th>
            <th>Total hours</th>
            <th>Total amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for parking in available_parkings %}
            <form action="book" method="post">
                {% csrf_token %}
                <input type="hidden" name="parking_id" value="{{parking.id}}" />
                <input type="hidden" class="amount" name="amount" value="{{parking.rate_per_hour}}" />
                <tr id="tr_{{parking.id}}">
                    <td>{{parking.address}}</td>
                    <td>{{parking.latitude}}</td>
                    <td>{{parking.longitude}}</td>
                    <td>{{parking.status}}</td>
                    <td>{{parking.distance}}</td>
                    <td>{{parking.rate_per_hour}}</td>
                    <td><input type="number" name="hours" placeholder="Hours" value="1" class="hours" data-rate_per_hour="{{parking.rate_per_hour}}"/></td>
                    <td><label>{{parking.rate_per_hour}}</label></td>
                    <td><input type="submit" value="Book" data-id="{{parking.id}}" class="btn-book"/></td>
                </tr>
            </form>
        {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function(){
    $(".hours").change(function() {
        hours = $(this).val();
        rate_per_hour = $(this).data('rate_per_hour');
        amount = hours*rate_per_hour
        $(this).parent('td').siblings('td').children('label').html(amount);
        $(this).parent('td').parent('tr').siblings('.amount').val(amount);
    });
});
</script>
{% endblock content %}